<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxio.emos.wx.db.mapper.TbCheckinMapper">

    <select id="haveCheckin" parameterType="HashMap" resultType="Integer">
        select id
        from tb_checkin
        where user_id = #{userId}
          and date = current_date
          and create_time between #{start} and #{end}
        limit 1
    </select>

    <select id="searchTodayCheckin" parameterType="int" resultType="HashMap">
        SELECT u.name,
               u.photo,
               d.dept_name                          as deptName,
               ck.address,
               CASE
                   WHEN ck.`status` = 1 THEN '正常'
                   WHEN ck.`status` = 2 THEN '迟到'
                   END                              as status,
               DATE_FORMAT(ck.create_time, "%H:%i") as checkin_date,
               ck.date
        FROM tb_user u
                 LEFT JOIN tb_dept d on u.dept_id = d.id
                 LEFT JOIN tb_checkin ck on u.id = ck.user_id and ck.date = CURRENT_DATE
        where u.id = #{userId}
          and u.status = 1
    </select>

    <select id="searchCheckinDays" parameterType="int" resultType="long">
        SELECT COUNT(*) as count
        FROM tb_checkin
        where user_id = #{userId}
    </select>

    <select id="searchWeekCheckin" parameterType="HashMap" resultType="HashMap">
        SELECT CAST(date as char)         as date,
               if(status = 1, "正常", "迟到") as status
        from tb_checkin
        where user_id = #{userId}
          and date BETWEEN #{startDate} and #{endDate}
    </select>

    <insert id="insert" parameterType="com.mxio.emos.wx.db.pojo.TbCheckinPo">
        INSERT INTO tb_checkin
        SET user_id=#{userId},
        <if test="address!=null">
            address=#{address},
        </if>
        <if test="country!=null">
            country=#{country},
        </if>
        <if test="province!=null">
            province=#{province},
        </if>
        <if test="city!=null">
            city=#{city},
        </if>
        <if test="district!=null">
            district=#{district},
        </if>
        status=#{status},
        <if test="risk!=null">
            risk=#{risk},
        </if>
        date=#{date},
        create_time=#{createTime}
    </insert>

</mapper>
